.banner
  +padding(50px)
  +box-sizing(border-box)
  +display(flex)
  +flex-direction(column)
  +justify-content(space-between)
  +animation(scale 0.5s forwards)
  +transform(scale(1.2))
  position: relative
  min-height: 100vh
  z-index: 1
  overflow: hidden

  &:after
    +position(absolute, null null 0px 0px)
    +size(100% 250px)
    +linear-gradient(rgba(#000, 0), #000)
    content: ""
    display: block
    z-index: 1

  &__image
    +position(absolute, 0px null null 0px)
    +size(100%)
    object-fit: cover
    z-index: -1

  &__logo
    +animation(fade-in 0.7s $ease-in-out-quint forwards)
    +transform(translateX(-50%))
    opacity: 0
    display: block
    width: 480px
    max-width: 100%

  &__title
    +heading()
    +animation(fade-in 0.7s $ease-in-out-quint 0.2s forwards)
    +transform(translateX(-50%))
    opacity: 0
    font-size: 70px
    position: relative
    z-index: 2

    span
      +gradient-text(128deg, #71eb80, #409fcb)
      display: inline-block

    strong
      font-size: 180%
      font-weight: 400

  +breakpoint(large)
    &__logo
      width: 300px

    &__title
      font-size: 50px

  +breakpoint(medium)
    +padding(20px)

    &__logo
      width: 200px

    &__title
      font-size: 35px

  +keyframes(scale)
    100%
      +transform(scale(1))

  +keyframes(fade-in)
    100%
      +transform(translateX(0%))
      opacity: 1